* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../public/glassesImage/JGd69A.jpg);
  background-size: 100%;
  background-position: top center;
  background-repeat: repeat-x;
}
body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
  z-index: -1;
}
header {
  background-color: rgba(0, 0, 0, 0.263);
}
.model {
  width: 350px;
  height: 400px;
  background-image: url(../public/glassesImage/model.jpg);
  background-size: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wear_me {
  position: absolute;
  top: 110px;
  opacity: 0.8;
}
#glass-content {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 68, 0, 0.372);
}
#glass-content h5 {
  color: blue;
}
#glass-content p {
  color: white;
  font-weight: 600;
}
